.movie__list {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  align-items: flex-start;
  gap: 15px;
  row-gap: 30px;
  margin-top: 20px;

  --gap: 15px;
  --items: 4;
}

.movie__item {
  flex-basis: calc((100% - (var(--gap) * (var(--items) - 1))) / var(--items));
  position: relative;

  display: flex;
  flex-direction: column;
}

.movie__link {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  transition: color 0.3s ease;
}

.movie__link:hover {
  color: blue;
}

.movie__thumb {
  box-shadow: 1px 1px 5px #000;
}

.movie__poster {
  max-width: 100%;
}

.movie__title {
  font-weight: 700;
  margin-bottom: 5px;
}

.movie__release {
  font-size: 14px;
}

.movie__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0 0 0;
  text-align: center;
}

.movie__rating {
  display: flex;
  align-items: center;
  background-color: #ffd400;
  position: absolute;
  top: 10px;
  left: -6px;
  font-size: 18px;
  font-weight: 700;
}

.movie__rating::before {
  content: '';
  display: block;
  font-size: 0;
  line-height: 0;
  position: absolute;
  z-index: 3;
  bottom: -8px;
  left: 0;
  border-top: 8px solid #ffd400;
  border-left: 7px solid transparent;
  width: 0;
  height: 0;
}

.rating__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 4px 16px 4px 6px;
  z-index: 5;
}

.rating__inner::before,
.rating__inner::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  border-right: 10px solid transparent;
}

.rating__inner::before {
  top: 0;
  border-top: 17px solid #ffd400;
}

.rating__inner::after {
  border-bottom: 17px solid #ffd400;
}
