.home__filter_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.home__filters {
  display: flex;
  align-items: center;
  gap: 20px;
}
.filter__item {
  background: none;
  border: 1px solid black;
  padding: 10px;
  font-size: 16px;
}

.filter__item.active {
  background-color: #000;
  color: #fff;
}
