.movie_item {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.movie_descr {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.movie_title {
  font-size: 32px;
}

.movie_score {
  font-size: 20px;
}

.movie_score span {
  font-weight: 600;
}

.movie_details h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
.movie_details p {
  font-size: 20px;
  line-height: 1.2;
}

.movie_back_link {
  font-size: 20px;
  gap: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.details__list {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.details__link {
  border: 2px solid rgb(3, 130, 141);
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.details__link:hover {
  background-color: rgb(3, 130, 141);
  color: white;
}
